<div class="aboutpage grid md:grid-cols-2 md:gap-x-4  w-full gap-y-2">
    <div class="academic mt-10 md:mt-20   md:ml-5 col-span-1 flex flex-col bg-white  p-4">
        <div class="hero ">
            <div class="hero-content text-center">
              <div class=" ">
                <div class="inline-flex justify-items-center items-center "><img class="w-16 mt-4" src="assets/uni.svg" alt="">
                  <h1 class="text-5xl font-bold ml-2 mt-8">Eğitim Hayatım</h1></div>
                  <hr class="dotted mt-2 mb-2">
                  <h3 class="text-l font-bold  ">ANADOLU ÜNİVERSİTESİ / WEB TASARIMI VE KODLAMA (UZAKTAN 2022-HALEN)</h3>
                    
                    <hr class="solid mt-2 mb-2">
                    <h3 class="text-l font-bold  ">ADNAN MENDERES ÜNİVERSİTESİ / YÖNETİM BİLİŞİM SİSTEMLERİ <br> (YATAY GEÇİŞ - 2021-2022) MEZUN </h3>
                    
                    <hr class="solid mt-2 mb-2">
                    <h3 class="text-l font-bold  ">SIAUlAI STATE COLLAGE / BİLİŞİM TEKNOLOJİLERİ <br> (ERASMUS-LİTVANYA 2020-2021)</h3>
                    <hr class="solid mt-2 mb-2">
                    <h3 class="text-l font-bold  ">BARTIN ÜNİVERSİTESİ / YÖNETİM BİLİŞİM SİSTEMLERİ (2018-2021)</h3>
                    <hr class="solid mt-2 mb-2">
                    <h3 class="text-l font-bold  ">İMKB TEKNİK VE ANADOLU LİSESİ BİLİŞİM/TEKNİK SERVİS DALI (2014-2018)</h3>

              </div>
            </div>
          </div>
    </div>
    <div class="erasmus  md:mt-20   md:mr-5 col-span-1 flex flex-col  bg-white  p-4">
        <div class="hero">
            <div class="hero-content text-center">
              <div class=" ">
                <div class="inline-flex justify-items-center items-center"><img class="w-16 mt-4" src="assets/map.svg" alt="">
                    <h1 class="text-5xl font-bold ml-2">Yurtdışı Maceram<main></main></h1></div>
                    <hr class="dotted mt-2 mb-2">
                <p class="text-xl">Erasmus sayesinde gittiğim 10 aylık Litvanya serüvenimde farklı kültürleri deneyimleyerek Avrupadaki yaşamı öğrenmiş oldum.
                Hayatta bir kere elime geçecek bu fırsatı elimden geldiğince iyi geçirmek için bolca ülke gezdim.  Gezdiğim ülkeler arasında Almanya,
               Avusturya ,Polonya, Rusya, Danimarka, Macaristan, Çek Cumhuriyeti, Letonya gibi ülkeler bulunmakta. Bu ülkeleri deneyimlerken bir yandan da Üniversitede verilen
              Proje ödevlerini kodluyordum. <br> Ayrıca Avrupada bolca İngilizce pratik yapma fırsatı bulduğum için İngilizcemi de bir hayli geliştirdim</p>    
              </div>
            </div>
          </div>
    </div>
    <div class="activities   md:ml-5 col-span-1 flex flex-col bg-white   p-4">
        <div class="hero">
            <div class="hero-content text-center">
              <div class="">
                <div class="inline-flex justify-items-center items-center"><img class="w-16 mt-4" src="assets/hobby.svg" alt="">
                    <h1 class="text-5xl font-bold ml-2">Hobilerim Aktivitelerim<main></main></h1></div>
                    <hr class="dotted mt-2 mb-2">
                    <p class="text-xl"> Lise'de kendimi kodlama alanında geliştirmek üzere 2016 yılında 3 ay <b>Entegre Yazılımda stajerlik yaptım.</b> 
                      Lise'de başlağıdım elektrik elektronik hobim sayesinde arduino ile tanışma fırsatı buldum. Lise son sınıfta <b>Meb robot yarışmasına katıldım.</b> 
                    Üniversite hazırlık sınıfdayken de okuldaki öğrenci kulübü vasıtası ile Elektrikli araba projesine giriştim. Elektrikli aracımızla <b>Tubitak Efficency Challange yarışmasına katıldım.</b>  
                    Halen hobi olarak devam ettirdiğim elektronik hobimi sürdürüyorum. <br>
                  2022 Yılının yaz aylarında insan ilişkilerimi geliştirmek ve İngilizce pratiği yapmak adına 2 ay <b>Bodrum Olira Boutique Hotel'de çalıştım.</b> </p> 
              </div>
            </div>
          </div>
    </div>
    <div class="mylife    md:mr-5 col-span-1 flex flex-col bg-white  p-4">
        <div class="hero">
            <div class="hero-content text-center">
              <div class="">
                <div class="inline-flex justify-items-center items-center"><img class="w-16 mt-4" src="assets/comp.svg" alt="">
                    <h1 class="text-5xl font-bold ml-2">Kodlamaya Başlama Hikayem<main></main></h1></div>
                    <hr class="dotted mt-2 mb-2">
                    <p class="text-xl"> 6 Yaşımda bilgisayar oyunlarına olan ilgim, beni acaba bu oyun nasıl yapıldı demeye itti.
                      Okuma yazmayı öğrendikten sonra yaptığım ilk iş game maker oyun motorunu indirip çeşitli oyun yapma denemeleriydi.
                      Lisede ilgim dolayısıyla Bilgisayar bölümü okudum. Lisede gördüğüm C# ve Visual Basic dilleri de bilgisayar alanında yeni bir şeyler yapmama yardımcı oldu.
                      Entegre Yazılım'da masaüstü uygulamaları yaparak stajımı tamamladım. Üniversitede de eşit ağırlıkta en çok yazılım görebileceğim bölüm olarak Yönetim Bilişim Sistemlerini
                      Tercih ettim.
                      Front-End tarafında yeni JavaScript frameworkleri deneyerek kendimi sürekli güncel tutmaya çalışıyorum. <br>
                      <b>Şu anda bu yazıyı okuduğunuz siteyi Yeni frameworklerden biri olan Astro 1.0 ve Tailwind/DaisyUi ile geliştirdim.</b> <br>
                      Programlama ateşi küçüklükten beri içimde yanıyor ve yanmaya devam edecek...</p> 
              </div>
            </div>
          </div>
    </div>
</div>

<style>
  
    
        hr.solid {
  border-top: 3px solid #393E46;
}
hr.dotted {
  border-top: 3px dotted #393E46;
}
@media only screen and (min-width: 770px) {
  
 

}

</style>