<div class="navbar bg-base-100 justify-evenly">
    <div class="flex-1 hidden md:flex ">
      <a href="index.html" class="btn btn-ghost normal-case text-2xl font-bold">NB </a>
    </div>
    <div class="flex-none ">
      <ul class="menu menu-horizontal p-0 ">
        <li><a href="index.html">Anasayfa</a></li>
        
        <li><a href="about.html">Hakkımda</a></li>

        <li tabindex="0">
          <a>
            Projelerim
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="bg-info-content">
            <li><a href="https://nazmi.me/old/">Eski Porfoliom</a></li>
            <li><a>Çok Yakında...</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>

  <style>
  
    .navbar{
      
      background-color: #393E46;  
      color: #EEEEEE;
        width: 100%;
    height: 70px;
    position: fixed;
    z-index: 3;
   
            }
            
  </style>