<div class="projects min-h-screen">

  <h3 class="text_design  md:mt-24"> Yaptığım Projeler</h3>



<div class="grid md:grid-cols-2 md:gap-y-10 md:gap-x-10 w-full md:w-10/12 gap-y-2 	md:ml-2 md:mt-10">

  
<a href="https://radiamag.com/">
  <div class="hero md:bg-contain  md:bg-no-repeat col-span-1 flex flex-col bg-black" style="background-image: url(assets/web2.jpg);">
    <div class="hero-overlay bg-opacity-0 hover:bg-opacity-20">
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        
        
        <div class="content mt-40">
            <h3 class="text-2xl font-bold text-white">Radiamag</h3>
            <div class="badge text-error-content bg-info mr-2">
              <b>WORDPRESS</b> 
            </div>
            <div class="badge text-error-content bg-info mr-2">
               <b>ELEMENTOR</b> 
            </div>
        
        </div>
      </div>
    </div>
  </div>
  </div>
</a>
<a href="https://nazmi.me/old/">
      <div class="hero md:bg-contain  md:bg-no-repeat col-span-1 flex flex-col bg-black" style="background-image: url(assets/web.jpg);">
        <div class="hero-overlay bg-opacity-0 hover:bg-opacity-20">
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            
            
            <div class="content mt-40">
                <h3 class="text-2xl font-bold text-white drop-shadow-lg shadow-black">Eski Portfoliom</h3>
                <div class="badge text-error-content bg-info mr-2">
                  <b>HTML</b> 
                </div>
                <div class="badge text-error-content bg-info mr-2">
                   <b>CSS</b> 
                </div>
            
            </div>
          </div>
        </div>
      </div>
      </div>
</a>

      <div class="hero md:bg-contain  md:bg-no-repeat col-span-1 flex flex-col bg-black" style="background-image: url(assets/soon.svg);">
        <div class="hero-overlay bg-opacity-0 hover:bg-opacity-20">
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            
            
            <div class="content mt-40">
                <h3 class="text-2xl font-bold text-white drop-shadow-lg shadow-black">Yakında Eklenecek</h3>
                <div class="badge text-error-content bg-info mr-2">
                  <b>HTML</b> 
                </div>
                <div class="badge text-error-content bg-info mr-2">
                   <b>CSS</b> 
                </div>
            
            </div>
          </div>
        </div>
      </div>
      </div>


      <div class="hero md:bg-contain  md:bg-no-repeat col-span-1 flex flex-col bg-black" style="background-image: url(assets/soon.svg);">
        <div class="hero-overlay bg-opacity-0 hover:bg-opacity-20">
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            
            
            <div class="content mt-40">
                <h3 class="text-2xl font-bold text-white drop-shadow-lg shadow-black">Yakında Eklenecek</h3>
                <div class="badge text-error-content bg-info mr-2">
                  <b>HTML</b> 
                </div>
                <div class="badge text-error-content bg-info mr-2">
                   <b>CSS</b> 
                </div>
            
            </div>
          </div>
        </div>
      </div>
      </div>
    

      
    

</div>
</div>


<style>
  .projects{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;   
  }
  
  .text_design { 
    
    color: #EEEEEE; 
   font: bold 52px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px black, 
                2px 2px #00ADB5, 
                3px 3px black;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
h3 {
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
</style>